<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (locals.shortid) { %>
     <p>http://localhost:9014/visit/:<%=shortid%></p>
    <% } %>
    <h1>shortid :  </h1>
    <% data.forEach(element => { %>
        <li> <%=element.shortid  %></li>
    <% }) %>



    <form action="/makeshorten" method="post" >

        <input type="text" name="url" placeholder="url ">
        <br>
        <button type="submit">submit</button>
    </form>
</body>
</html>