<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>you're logged in</h1>
    <% data.forEach(element => { %>
        <li> <a target="_blank"  href="http://localhost:9014/visit/<%=element.shortid %>">http://localhost:9014/visit/<%=element.shortid %> </a></li>
    <% }) %>


    
</body>
</html>